<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80375396295-nkhi45mmpfkg24dpibasosafe89i3uk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80375396295-nkhi45mmpfkg24dpibasosafe89i3uk8</string>
	<key>API_KEY</key>
	<string>AIzaSyAf8Lv3n4gnXUYVdAFqf0u5vAbfwxelGiA</string>
	<key>GCM_SENDER_ID</key>
	<string>80375396295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snibbe.Gravilux</string>
	<key>PROJECT_ID</key>
	<string>gravilux-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gravilux-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80375396295:ios:bfce130d65978679350be2</string>
</dict>
</plist>